
<footer class="footer">

<div class="container">
  <div class="row">

    <div class="col-sm-12">

    <span class="fa-stack fa-lg">
      <a href=""><i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
    </span>
    <span class="fa-stack fa-lg">
      <a href=""><i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
    </span>
    <span class="fa-stack fa-lg">
      <a href=""><i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a>
    </span>
  
    <span class="fa-stack fa-lg">
      <a href=""><i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i></a>
    </span>
    </div>
  </div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; {{ site.name }} 2014</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                {% for network in site.social %}-->
                <!--<li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-{{ network.title }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
</footer>

<!--
 <p>{{ site.time | date:"%Y" }}
 <a href="{{ site.url }}">{{ site.name }}
-->
