
<div class="container">
<hr class="featurette-divider">
<footer class="footer">
      <div class="container">
        <!-- {{ site.time | date:"%Y" }} -->
        <p class="pull-right"><a href="#"><i class="fa fa-level-up fa-3x"></i></p>
        <!--<p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
        <p>{{ site.time | date:"%Y" }},   <a href="{{ site.url }}"> {{ site.name }}</a><br></p>
      </div>
    </footer>
<!-- /END THE FEATURETTES -->
<!--<footer>-->
<!-- FOOTER -->

  <!--<a href="{{ }}" target="_blank"><i class="fa fa-facebook-official"></i></a><br>
  <a href="{{ site.url }}"> {{ site.name }}</a><br>

</footer>-->
</div>
