<!-- jQuery -->
<script src="javascripts/jquery-2.1.0.min.js"></script>

<!-- Placed at the end of the document so the pages load faster -->
<script src="javascripts/bootstrap.min.js"></script>

<script src="javascripts/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>

<!-- Plugin JavaScript -->
<script src="javascripts/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="javascripts/custom.js"></script>

<!-- google code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62278246-1', 'auto');
  ga('send', 'pageview');

</script>
