---
---

@import "bootstrap-scss/bootstrap";

body {
	height: 100%;
  padding-top: 50px;
}

html, #map {
	height: 100%;
	padding:0;
	margin: 0;
}

.brand_style_change {
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	color: Red;
	font-size: 1.3em;
}
